h1 {
  color: blue;
}
.header {
  background-color: blue;
  height: 200px;
  width: 80%;
  margin: 0 auto;
}
.content {
  background-color: green;
  height: 600px;
  width: 1000px;
  margin: 0 auto;
  margin-top: 10px;
}
.column {
  background-color: red;
  height: 600px;
  width: 300px;
  float: left;
  margin: 0px 16.6px;
}
